<header class="nav-wrapper">
  <div class="container py-3">
    <nav class="navbar-pill" [class.open]="mobileOpen">

      <div class="nav-top">

        <!-- LEFT (logo) -->
        <a routerLink="/" class="brand">
          <img class="brand-mark" src="/app-logo.png" />
        </a>

        <!-- CENTER (links desktop) -->
        <div class="nav-links desktop center-links">
<!--          <a routerLink="/dashboard" fragment="acasă">Acasă</a>-->
          <a routerLink="/" >Acasă</a>
<!--          <a routerLink="/dashboard" fragment="despre">Despre</a>-->
          <a routerLink="/despre">Despre</a>
<!--          <a routerLink="/dashboard" fragment="galerie">Galerie</a>-->
          <a routerLink="/gallery">Galerie</a>
<!--          <a routerLink="/dashboard" fragment="contact">Contact</a>-->
          <a routerLink="/contact">Contact</a>
        </div>

        <!-- RIGHT (actions) -->
        <div class="nav-actions">
          <img class="theme-btn desktop" [src]="darkMode ? 'svg/sun.svg' : 'svg/moon.svg' " (click)="toggleTheme()"/>

          <div class="mobile-toggle d-lg-none" (click)="toggleMobile()">
            ☰
          </div>
        </div>

      </div>

      <!-- MOBILE MENU -->
      <div class="nav-links mobile" [class.open]="mobileOpen">
        <a routerLink="/" fragment="acasă" (click)="closeMobile()">Acasă</a>
        <a routerLink="/despre" (click)="closeMobile()">Despre</a>
        <a routerLink="/gallery" (click)="closeMobile()">Galerie</a>
        <a routerLink="/contact" (click)="closeMobile()">Contact</a>
        <img class="theme-btn mobile" [src]="darkMode ? 'svg/sun.svg' : 'svg/moon.svg' " (click)="toggleTheme()"/>
      </div>

    </nav>
  </div>
</header>
